<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Web page </h1>
    <!--         
        music21 
        text editor
        output
    -->
    <form method="POST" >
        <textarea id="textinput" name="userinput"></textarea>
        <button type="submit">Render</button>
    </form>

    <div id="osmdContainer"/>

    <script src="https://unpkg.com/opensheetmusicdisplay@0.8.3/build/opensheetmusicdisplay.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" type="text/javascript">
    var v = '{{txt}}';
    </script>
</body>
</html>